
<head>
<link rel='stylesheet' href='comics.scss'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
.image{
    display: block;
    border: 3px solid black;
    margin : auto;
}

.page{
    text-align: center;
}

.button{
    display:block;
    margin: auto;
}

.column-image {
  float: left;
  width: 60%;
  height: auto;
  padding: 20px;

}
.column-sides {
  float: left;
  width: 20%;
  padding: 20px;
}
</style>
</head>

<div class = "column-sides">
    <% if page.page_number > 1%>
        <%=  link_to 'Prev', page_path(page: page.page_number-1),class:"m-2  w-75 btn btn-dark btn-lg border"%>
    <%end%>
</div>

<div class = "column-image">
    <div style = "text-align:center">
        <%= link_to 'Comic Info Page', comic_path(id: comic.id),class:"m-2  w-50 btn btn-dark btn-lg border" %>
        <p class= "text-white bg-dark m-2 border">Page Number: <%=page.page_number%> of <%= comic.count_pages%></p>
        <% if page.image.attached? %>
            <div>
            <image src="<%=(url_for(page.image))%>" class="image">
            </div>
        <% end %>
    </div>
</div>

<div class = "column-sides">
    <% if page.page_number < comic.count_pages%>
        <%=  link_to 'Next', page_path(page: page.page_number+1),class:"m-2  w-75 btn btn-dark btn-lg border"%>
    <%end%>
</div>
