<head>
<link rel='stylesheet' href='welcome.scss'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
</style>
</head>

<div class ="row">
  <div class="col-lg-3"></div>
  <div class= "col-lg-5 bg-dark shadow-lg border m-5 rounded text-light text-center ">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field m-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"btn btn-light" %>
  </div>

  <div class="actions m-2">
    <%= f.submit "Send me reset password instructions",class:"btn btn-light"%>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
