<head>
<link rel='stylesheet' href='welcome.scss'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
</style>
</head>

<div class ="row">
    <div class="col-lg-3"></div>
    <div class= "col-lg-5 bg-dark shadow-lg border m-5 rounded text-light text-center ">
    <h1>Fill out form to publish your Series</h1>

    <% if flash.key? :status_msg %>
    <p><%= flash[:status_msg] %></p>
    <% end %>

    <%= form_with model: series, url: create_series_path, method: :post, local: true, scope: :series do |f| %>

        <div class="form-group m-2 center-align">
            <%= f.label :title %><br>
            <%= f.text_field :title,size:"40x5",class:"form-control"%>
        </div>

        <br>

        <div class="form-group  m-2 center-block">
            <%= f.label :cover %>
            <%= f.file_field :cover, class:"m-2 btn btn-light"%>
        </div>

        <br>

        <div class="form-group  m-2">
            <%= f.label :description %><br>
            <%= f.text_area :description,size: "50x5",class:"form-control" %>
        </div>

        <br>

        <div class="actions">
        <%= f.submit "Publish Series",class:"m-2 btn btn-light"%>
        </div>

    <% end %>
    </div>
</div>