<head>
<link rel='stylesheet' href='comics.scss'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
</style>
</head>


<div class="row">
    <div class="col-md-4">
        <div style="text-align:center">
            <div class="text-white bg-dark m-2 shadow-lg border rounded">
                <h1 ><u>
                    <%= series.title.capitalize %>
                </u></h1>
                <% if series.cover.attached? %>
                <image src="<%=(url_for(series.cover))%>" class="m-3 img-thumbnail"style="max-width:60%;height:auto">
                <% end %>
                <h3>Author: <%=series.author.first_name%> <%= series.author.last_name%></h3>
                </div>
                <h2 class = "text-white bg-dark m-2 p-1 shadow-lg border rounded">Comic Info</h2>
            <div class='text-white bg-dark m-2 shadow-lg border rounded' style="height:auto">
                <ul class="list-inline m-2">
                <li class="list-inline-item "><h3>Rating: <%= series.average_review %></h3></li>
                <li class="list-inline-item "><h3>Likes: </h3></li>
                </ul>
                <div>
                    <p class="m-1"><h1>Summary:</h1><h3><%= series.description %></h3></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="text-white bg-dark m-2 shadow-lg border rounded">
            <h2 style="text-align:center">Reviews</h2>
        </div>
            <div class = 'text-white bg-dark m-2 shadow-lg border rounded'style="padding-bottom:100%;margin-bottom:100%">
                <%if (local_variables.include?(:reviews) and not reviews.nil?)%>
                <% reviews.each do |r| %>
                    <div class="border m-2 bg-light text-dark rounded text-center">
                        <h4 class="list-group-item-heading"><%= link_to r.title.titleize, review_path(id: r.id),class:"text-dark" %></h4>
                            <ul class="list-inline mr-10">
                                <li class="list-inline-item">Critic: <%=r.critic.first_name%> <%=r.critic.last_name%></li>
                                <li class="list-inline-item">Rating Given: <%= r.rating%> </li>
                                <li class="list-inline-item">Likes: </li>
                            </ul>
                    </div>
                <% end %>
            <% end %>
                <%if current_user.role == "Critic"%>
                    <div class = " m-2 text-center">
                        <%= link_to 'Create Review of this Comic', new_series_review_path(series),class:"m-2 btn btn-light"%>
                    </div>
                <% end %>
        </div>
    </div>


    <div class="col-md-4">
        <div class="text-white bg-dark m-2 p-2 shadow-lg border rounded">
        <h2 class="text-center">Issues</h2>
            <table class="table table-bordered table-striped bg-light ">
                <thead>
                    <tr>
                        <th scope="col">Title of Comic</th>
                        <th scope="col">Issue Number</th>
                    </tr>
                </thead>
                <tbody>
                    <% comics.each do |c| %>
                        <tr>
                            <th scope="row"><%= link_to c.title.capitalize, comic_path(id: c.id) %></th>
                            <td><%=c.issue_number%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div style="text-align:center">
            <h2 class="text-white bg-dark m-2 p-2 shadow-lg border rounded">Disscusion</h2>
            <div class="text-white bg-dark m-2 shadow-lg border rounded"style="padding-bottom:100%;margin-bottom:100%">
                <% series.discussion.posts.each do |post|%>
                    <div class= "border rounded m-3 bg-light text-dark">
                        <p>"<%= post.body %>"<br>-<%= post.creator.first_name%> <%= post.creator.last_name%></p>
                    </div>
                <% end %>
                <%= form_with model: posts, url: create_series_post_path(discussion), method: :post, local: true, scope: :post do |f| %>
                    <div class="">
                        <div class="form-group m-2">
                            <%= f.label  "Create Post"%>
                            <%= f.text_area :body, size: "2x2",class: "form-control"%>
                        </div>

                        <div class="actions">
                            <%= f.submit "Publish Post",class:"m-2 btn btn-light"%>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>




